body{
    background-color:#DAA520;
}

.rounded-circle {
  border-radius: 50% ;
  width:100px;
height: 100px
}
.div_img{
    overflow: auto;
    
}
.img_border{
    border : 5px solid black;
}
.logo_opa:hover{
    
    opacity: 0.5;
    

}






